.sideMenu {
    z-index: 1;
    left: -100%;
    width: 100%;
    margin: 0 -15px;
    padding: 15px 0;
    position: fixed;
    overflow-y: auto;
    flex-wrap: nowrap;
    background-color: #fff;
    height: calc(100% - 44px);
    transition: width 0.3s, left 0.3s;
    box-shadow: -5px 0px 15px 0px rgba(0, 0, 0, 0.3);
    .menuItem {
        .menuLinkContainer {
            padding: 15px;
            .menuLink {
                color: #777;
                font-weight: 500;
                text-decoration: none;
                transition-duration: 0.3s;
                &:hover {
                    color: #1a1a1a;
                }
            }
            &.active {
                background-color: inherit;
                .menuLink {
                    color: #1a1a1a;
                }
            }
        }
    }
    &.open {
        left: 15px;
    }
    @media (min-width: 768px) {
        & {
            left: -25%;
            width: 25%;
        }
    }
    @media (min-width: 992px) {
        & {
            left: 15px;
            width: 16.66667%;
        }
    }
    // @media (min-width: 578px) {
    //     & {
    //         left: -100%;
    //         width: 100%;
    //     }
    // }
}
