.artViewerRow {
    margin-top: 15px;
    min-height: calc(100vh - 60px);
    .pikachu {
        transform: scale(0.5);
    }
    .loaderContainer {
        min-height: calc(100vh - 66px);
    }

    .tab-pane,
    .codeContainer-row {
        height: 100%;
    }
    .codeViewerContainer {
        padding-top: 15px;
        .codeContainer {
            height: 100%;
            width: calc(100% - 30px);
            .loaderContainer {
                min-height: calc(100vh - 85px);
            }
        }
    }
    @media (min-width: 992px) {
        .tab-content {
            height: calc(100% - 35px);
        }
        .codeViewerContainer {
            margin-top: -15px;
            .codeContainer {
                position: absolute;
            }
        }
    }
}
