.artViewerRow {
    margin-top: 15px;
    min-height: calc(100vh - 3.5rem - 15px);
    .pikachu {
        transform: scale(0.5);
    }
    .loaderContainer {
        min-height: calc(100% - 32px);
    }

    .tab-pane,
    .codeContainer-row {
        height: 100%;
    }
    .codeViewerContainer {
        padding-top: 15px;
        .codeContainer {
            height: 100%;
            .loaderContainer {
                min-height: 100%;
            }
        }
    }
    @media (min-width: 992px) {
        .tab-content {
            height: calc(100% - 42px);
        }
        .codeViewerContainer {
            margin-top: -15px;
            .codeContainer {
                position: absolute;
                width: calc(100% - 30px);
            }
        }
    }
}
